/* About Page Content Media Queries */
	 /* Desktop */
		@media (max-width: 1px) {
			.margin-correction-about-content {
				margin-top: 180em;
				margin-bottom: 2em;
			}
		}
		
		@media (min-width: 2px) {
			.margin-correction-about-content {
				margin-top: 6em !important;
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 320px) {
			.margin-correction-about-content {
				margin-top: 6em !important;
				margin-bottom: 0em;
			}
		}
		
		/* 480p SD */
		@media (min-width: 400px) {
			.margin-correction-about-content {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		@media (min-width: 481px) {
			.margin-correction-about-content {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* 720p HD */
		@media (min-width: 720px) {
			.margin-correction-about-content {
				margin-top: 0em:
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 961px) {
			.margin-correction-about-content {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* 1080p FHD */
		@media (min-width: 1024px) {
			.margin-correction-about-content {
				margin-top: 0em !important;
				margin-bottom: 0em;
			}
		}

		/* 4k UHD */
		@media (min-width: 1281px) {
			.margin-correction-about-content {
				margin-top: -20em !important;
				margin-bottom: 0em;
			}
		}
	/* End of Desktop */
	
	/* Mobile / Tablet */
		/* Portrait mode iPhone 5/SE. */
		@media (max-height: 568px) and (orientation: portrait) {
			.margin-correction-about-content {
				margin-top: 11em !important;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode Galaxy S5 */
		@media (min-height: 569px) and (max-height: 640px) and (orientation: portrait) {
			.margin-correction-about-content {
				margin-top: 0em;
				margin-bottom: 2em;
			}
		}

		/* Portrait mode iPhone 6/7/8 */
		@media (min-height: 641px) and (max-height: 668px) and (orientation: portrait) {
			.margin-correction-about-content {
				margin-top: 5em !important;
				margin-bottom: 2em;
			}
		}

		/* Portrait mode Pixel 2 and iPhone 6/7/8 Plus */
		@media (min-height: 669px) and (max-height: 736px) and (orientation: portrait) {
			.margin-correction-about-content {
				margin-top: 1em !important;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode iPhone X */
		@media (min-height: 737px) and (max-height: 813px) and (orientation: portrait) {
			.margin-correction-about-content {
				margin-top: 1.5em !important;
				margin-bottom: 2em;
			}
		}

		/* Portrait mode Pixel 2 XL */
		@media (min-height: 813px) and (max-height: 824px) and (orientation: portrait) {
			.margin-correction-about-content {
				margin-top: -2em;
				margin-bottom: 2em;
			}
		}
		
		/* Landscape mode iPhone 5/SE, Galaxy S5, iPhone 6/7/8, Pixel 2, and iPhone 6/7/8 Plus */
		@media (max-width: 736px) and (orientation: landscape) {
			.margin-correction-about-content {
				margin-top: 9em !important;
				margin-bottom: 0em;
			}
		}
		
		/*	Landscape mode Pixel 2 XL */
		@media (min-width: 737px) and (max-width: 824px) and (orientation: landscape) {
			.margin-correction-about-content {
				margin-top: 5em !important;
				margin-bottom: 2em !important;
			}
		}

		/*	Landscape mode iPad */
		@media (min-width: 737px) and (max-width: 1024px) and (orientation: landscape) {
			.margin-correction-about-content {
				margin-top: 0em;
				margin-bottom: 2.5em;
			}
		}
	/* End of Mobile / Tablet */	
/* End of About Page Content Media Queries */

/* About Page Table Media Queries */
	 /* Desktop */
		@media (max-width: 1px) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 2px) {
			.margin-correction-about-table {
				margin-top: 0em !important;
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 320px) {
			.margin-correction-about-table {
				margin-top: 0em !important;
				margin-bottom: 0em;
			}
		}
		
		/* 480p SD */
		@media (min-width: 400px) {
			.margin-correction-about-table {
				margin-top: 0em !important;
				margin-bottom: 0em;
			}
		}

		@media (min-width: 481px) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* 720p HD */
		@media (min-width: 720px) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 961px) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* 1080p FHD */
		@media (min-width: 1025px) {
			.margin-correction-about-table {
				margin-top: 0em !important;
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 1281px) {
			.margin-correction-about-table {
				margin-top: -20em !important;
				margin-bottom: 0em;
			}
		}

		/* 4k UHD */
		@media (min-width: 2000px) {
			.margin-correction-about-table {
				margin-top: -50em !important;
				margin-bottom: 0em;
			}
		}
	/* End of Desktop */
	
	/* Mobile / Tablet */
		/* Portrait mode iPhone 5/SE. */
		@media (max-height: 568px) and (orientation: portrait) {
			.margin-correction-about-table {
				margin-top: 8em !important;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode Galaxy S5 */
		@media (min-height: 569px) and (max-height: 640px) and (orientation: portrait) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode iPhone 6/7/8 */
		@media (min-height: 641px) and (max-height: 668px) and (orientation: portrait) {
			.margin-correction-about-table {
				margin-top: 5em !important;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode Pixel 2 and iPhone 6/7/8 Plus */
		@media (min-height: 669px) and (max-height: 736px) and (orientation: portrait) {
			.margin-correction-about-table {
				margin-top: 1em;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode iPhone X */
		@media (min-height: 737px) and (max-height: 813px) and (orientation: portrait) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* Portrait mode Pixel 2 XL */
		@media (min-height: 813px) and (max-height: 824px) and (orientation: portrait) {
			.margin-correction-about-table {
				margin-top: -2em;
				margin-bottom: 2em;
			}
		}
		
		/* Landscape mode iPhone 5/SE, Galaxy S5, iPhone 6/7/8, Pixel 2, and iPhone 6/7/8 Plus */
		@media (max-width: 736px) and (orientation: landscape) {
			.margin-correction-about-table {
				margin-top: 9em !important;
				margin-bottom: 0em;
			}
		}
		
		/*	Landscape mode Pixel 2 XL */
		@media (min-width: 737px) and (max-width: 824px) and (orientation: landscape) {
			.margin-correction-about-table {
				margin-top: 5em !important;
				margin-bottom: 2em !important;
			}
		}

		/*	Landscape mode iPad */
		@media (min-width: 737px) and (max-width: 1024px) and (orientation: landscape) {
			.margin-correction-about-table {
				margin-top: 0em;
				margin-bottom: 2.5em;
			}
		}
	/* End of Mobile / Tablet */	
/* End of About Page Table Media Queries */

/* Bootstrap Update Page Media Queries */
	 /* Desktop */
		@media (max-width: 1px) {
			.margin-correction-bootstrap-update {
				margin-top: 180em;
				margin-bottom: 2em;
			}
		}
		
		@media (min-width: 2px) {
			.margin-correction-bootstrap-update {
				margin-top: 90em;
				margin-bottom: 2em;
			}
		}
		
		@media (min-width: 320px) {
			.margin-correction-bootstrap-update {
				margin-top: 90em;
				margin-bottom: 2em;
			}
		}
		
		/* 480p SD */
		@media (min-width: 400px) {
			.margin-correction-bootstrap-update {
				margin-top: 50em;
				margin-bottom: 2em;
			}
		}

		@media (min-width: 481px) {
			.margin-correction-bootstrap-update {
				margin-top: 32em;
				margin-bottom: 2em;
			}
		}

		/* 720p HD */
		@media (min-width: 720px) {
			.margin-correction-bootstrap-update {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}
		
		@media (min-width: 961px) {
			.margin-correction-bootstrap-update {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* 1080p FHD */
		@media (min-width: 1025px) {
			.margin-correction-bootstrap-update {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}

		/* 4k UHD */
		@media (min-width: 1281px) {
			.margin-correction-bootstrap-update {
				margin-top: 0em;
				margin-bottom: 0em;
			}
		}
	/* End of Desktop */
	
	/* Mobile / Tablet */
		/* Portrait mode iPhone 5/SE. */
		@media (max-height: 568px) and (orientation: portrait) {
			.margin-correction-bootstrap-update {
				margin-top: 1950px;
				margin-bottom: 30px;
			}
		}

		/* Portrait mode Galaxy S5 */
		@media (min-height: 569px) and (max-height: 640px) and (orientation: portrait) {
			.margin-correction-bootstrap-update {
				margin-top: 1500px;
				margin-bottom: 25px;
			}
		}

		/* Portrait mode iPhone 6/7/8 */
		@media (min-height: 641px) and (max-height: 668px) and (orientation: portrait) {
			.margin-correction-bootstrap-update {
				margin-top: 1400px;
				margin-bottom: 25px;
			}
		}

		/* Portrait mode Pixel 2 and iPhone 6/7/8 Plus */
		@media (min-height: 669px) and (max-height: 736px) and (orientation: portrait) {
			.margin-correction-bootstrap-update {
				margin-top: 1100px;
				margin-bottom: 25px;
			}
		}

		/* Portrait mode iPhone X */
		@media (min-height: 737px) and (max-height: 813px) and (orientation: portrait) {
			.margin-correction-bootstrap-update {
				margin-top: 1250px;
				margin-bottom: 25px;
			}
		}

		/* Portrait mode Pixel 2 XL */
		@media (min-height: 813px) and (max-height: 824px) and (orientation: portrait) {
			.margin-correction-bootstrap-update {
				margin-top: 1000px;
				margin-bottom: 25px;
			}
		}
		
		/* Landscape mode iPhone 5/SE, Galaxy S5, iPhone 6/7/8, and iPhone 6/7/8 Plus */
		@media (max-width: 736px) and (orientation: landscape) {
			.margin-correction-bootstrap-update {
				margin-top: 1000px;
				margin-bottom: 25px;
			}
		}
		
		/*	Landscape mode Pixel 2 XL */
		@media (min-width: 737px) and (max-width: 824px) and (orientation: landscape) {
			.margin-correction-bootstrap-update {
				margin-top: 700px !important;
				margin-bottom: 35px !important;
			}
		}

		/*	Landscape mode iPad */
		@media (min-width: 737px) and (max-width: 1024px) and (orientation: landscape) {
			.margin-correction-bootstrap-update {
				margin-top: 250px;
				margin-bottom: 35px;
			}
		}
	/* End of Mobile / Tablet */	
/* End of Bootstrap Update Page Media Queries */